<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Nibs Cafe </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/pages/css/lock.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/Content/Logo/Kandha-Logo-200x87.png" />
</head>
<body>
    <div class="page-lock">
        <div class="page-logo">
            <a class="brand" href="#">
                @*<img src="~/assets/admin/layout/img/logo-big.png" alt="logo" />*@NIbs Cafe
            </a>
        </div>
        @RenderBody()
        <div class="page-footer-custom">
            2014 &copy; Nibs Cafe. 
        </div>
    </div>
    <script src="~/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/global/plugins/select2/select2.min.js"></script>
    <script src="~/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/assets/admin/pages/scripts/lock.js"></script>
    <script src="~/assets/admin/pages/scripts/LockValidation.js"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            Lock.init();
            LockValidation.init();
        });
    </script>
</body>
</html>
