<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Ledger Group
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("AddLegderGroup", "Ledgergroup")">
                Add Ledger
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("Index", "Ledgergroup")">
                Ledger Report
            </a>
        </li>

    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Ledger Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("AddLedger", "Ledger")">
                Add Ledger
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("Index", "Ledger")">
                Ledger Report
            </a>
        </li>

    </ul>
</li>










