<li class="start active open">
    <a href="javascript:;">
        <i class="fa fa-cogs"></i>
        <span class="title">
            Billing Master
        </span>
        <span class="arrow open">
        </span>
        <span class="selected"></span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Index", "Nibs")">
                Create Billing
            </a>
       
        </li>
       

    </ul>
</li>
