@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h3 class="form-title">Password Reset Link</h3>
<p>click below link to get new paasword</p>
@*<span style="color:red;">@TempData["Message"]</span>*@
<p>@Html.Raw(TempData["Message"]);</p>
