@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>New Password</h2>
<p>@TempData["Message"]</p>
<a href="/Account/Login" class="btn btn-primary">Login</a>
