@model IEnumerable<NibsMVC.Models.ServicTaxModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">

    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="@Url.Action("Create", "ServicTax")">Add Service Tax</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Service Tax Details
            </li>
        </ul>

    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row">
        <p style="color:red; font-size:14px;">@TempData["servicetax"]</p>
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet box yellow">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-coffee"></i> Service Tax Details
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>

                        <a href="javascript:;" class="reload">
                        </a>

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-bordered table-hover table-full-width" id="sample_2">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>
                                    Service Tax
                                </th>
                               

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                                          var counter = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @counter
                                        </td>
                                        <td>
                                           @item.ServicTax
                                        </td>
                                       

                                    </tr>
                                    counter = counter + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->

        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>