@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    
@using (Html.BeginForm("index", "home", FormMethod.Post, new { @id = "form_sample_14", @class = "form-horizontal", @enctype = "multipart/form-data" }))
{
    <h3 class="page-title">

        Dashboard <small>Hotel Kandha</small>

        <button type="submit" class="btn green" id="btnSyncKot">Sync KOT</button>
    </h3>
}
    
    @if (User.IsInRole("admin"))
    {
        @Html.Partial("_PartialAdminIndex")
    }
    else if (User.IsInRole("Outlet"))
    {
         @Html.Partial("_PartialOutletHome")
    }
    else
    {
        @*@Html.Partial("_PartialOutletHome")*@
        @Html.Partial("_PartialCashier")
    }
    
</div>
<script>
    $('#btnSyncKot').on('click', function (e) {


        $.getJSON('/home/syncKot/', function (data) {
           
           
            


        });
        $("#form_sample_14").submit();
    });
</script>