@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <h3 class="page-title">

        Dashboard <small>Hotel Kandha</small>
    </h3>
    @if (User.IsInRole("admin"))
    {
        @Html.Partial("_PartialAdminIndex")
    }
    else if (User.IsInRole("Outlet"))
    {
         @Html.Partial("_PartialOutletHome")
    }
    else
    {
        @*@Html.Partial("_PartialOutletHome")*@
        @Html.Partial("_PartialCashier")
    }
    
</div>