@model NibsMVC.Models.MovementAnalysisReport

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Web.UI.WebControls;
<script src="~/Scripts/json-to-table.js"></script>

<style type="text/css" > 
    .webGrid {
        margin: 4px;
        border-collapse: collapse;
        width: 500px;
        background-color: #FCFCFC;
    }

    .header {
        background-color: #C1D4E6;
        font-weight: bold;
        color: #FFF;
    }

    .webGrid th, .webGrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }

    .alt {
        background-color: #E4E9F5;
        color: #000;
    }

    .gridHead a:hover {
        text-decoration: underline;
    }

    .description {
        width: auto;
    }

    .select {
        background-color: #389DF5;
    }

    #ToolTables_sample_2_3 {
        display: none;
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet  box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Movement Analysis Report
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("exportMovementAnalysis", "Rep", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample_report_search" }))
                    {

                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-md-3">From Date<span class="required"> *</span></label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(a => a.DateFrom, new { @class = "form-control date-picker", @readonly = "readonly", @placeholder = "date from" })
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-md-3">To Date<span class="required"> *</span></label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(a => a.DateTo, new { @class = "form-control date-picker", @readonly = "readonly", @placeholder = "date to" })
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-md-3">Raw Materials<span class="required"> *</span></label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(a => a.RawMaterialId, (SelectList)ViewBag.RawId, "--Raw Materials--", new { @class = "form-control" })
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-md-3">Stock In<span class="required"> *</span></label>
                                <div class="col-md-6">
                                    
                                    @{ 
                                        var stockIn = new SelectList(
                                        new List<SelectListItem>
                                            {
                                        
                                        new SelectListItem { Selected = false, Text = "Store", Value = "Store"},
                                        new SelectListItem { Selected = false, Text = "Kitchen", Value = "Kitchen"},
                                            }, "Value", "Text", 1);
                                    }
                                     
                                       @Html.DropDownListFor(a => a.Type, stockIn , "--Stock In--", new { @class = "form-control" })

</div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Export" id="export" class="btn btn-primary" />
                              
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>

    
  
    <script>
        $(document).ready(function () {
            var bool = detectIE();
            if (bool == "False") {
                $('#DateFrom').attr('data-date-format', 'dd/MM/yyyy');
                $('#DateTo').attr('data-date-format', 'dd/MM/yyyy');
            }
        });
      
        function detectIE() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE ');
            if (msie > 0) {
                // IE 10 or older => return version number
                return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
            }

            var trident = ua.indexOf('Trident/');
            if (trident > 0) {
                // IE 11 => return version number
                var rv = ua.indexOf('rv:');
                return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
            }

            var edge = ua.indexOf('Edge/');
            if (edge > 0) {
                // IE 12 => return version number
                return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
            }

            // other browser
            return false;
        }
        //$(document).ready(function () {

        //});
    </script>
    <script>
        $("[id$=export]").click(function (e) {
            var $form = $('#form_sample_report_search');
            var Data = $form.serialize();

            window.location = '/Rep/exportMovementAnalysis?' + Data;

        });
    </script>
</div>
